.navbar{

  background-color: #6718A8 !important;
  color: #fff !important;
}
.my-button{
  background-color: #6718A8 !important;
}


.my-button:hover{
  background-color: #fff !important;
  color:#6718A8 !important
}
a{
  color: #fff !important;
  text-decoration: none !important;
}
 .my-button a:hover{
   color: #000 !important;
 }
.left-nav{
  margin-left: auto;
}

body{
  background-color: #F6F6F6 !important;
}

.options-button:hover{
  background-color: #6718A8 !important;
  color: white !important;
}
.options-button:checked{
  background-color: #6718A8 !important;
  color: white !important;
}
.desc{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A9A9A9; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.cart{
 
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}



@media screen and (max-width: 800px) {
  .product-card{
    width: 290px !important;
    background-color: #6718A8;
  }
}